<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/bootstrap.min.css">

  {{!-- Custom Stylesheet --}}
  <link rel="stylesheet" href="/css/styles.css">

  {{!-- Google Fonts --}}
  <link
    href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700&display=swap"
    rel="stylesheet" />

  <title>Heidi Baine</title>
</head>

<body>

  {{!-- jumbotron --}}
  <section class="container my-3 p-5 border">
    <div class="jumbotron-fluid mb-0">
      <h1 class="display-4 text-center">Heidi Baine, Ph.D.</h1>
      <hr class="my-4" />
      <blockquote class="blockquote text-center">
        <p class="mb-0">
          Education is not the filling of a pail, but the lighting of a fire.
        </p>
        <footer class="blockquote-footer">W.B. Yeats</footer>
      </blockquote>
    </div>

    {{!-- navbar and image --}}
    <div class="container my-1">
      <div class="row">
        <div class="col-8 offset-2">
          <img class="img-fluid rounded " src="/img/momPortrait.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light py-4 col-8 offset-2">

        <button class="navbar-toggler mx-auto mb-3" type="button"
          data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mx-0" id="navbarNavAltMarkup">
          <div class="container mx-1 pl-0">
            <ul
              class="navbar-nav nav-tabs d-flex justify-content-between w-100 mx-0 h3">
              <li class="nav-item active">
                <a class="nav-link active" href="/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/interests">Interests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/experience">Experience</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>




    </div>

    <div class="container col-10 offset-1 blurb">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam unde,
        cumque expedita beatae aliquam autem porro nulla veritatis fugit
        recusandae totam non quasi sit inventore asperiores qui cupiditate
        officia libero commodi repellat possimus a impedit vitae adipisci!
        Temporibus fugiat molestiae doloribus provident ad quibusdam
        exercitationem, at autem possimus, eveniet modi? Reprehenderit
        laudantium id magni aspernatur! Nostrum dolorem obcaecati cumque,
        voluptas earum distinctio, atque molestias vitae doloremque blanditiis
        quae eveniet repudiandae harum, illo facilis nam laudantium unde
        adipisci! Ipsum qui hic pariatur sed quam error magni totam enim nisi,
        alias iusto in. Quia quasi id enim perspiciatis, atque, adipisci
        repellat esse voluptatem placeat soluta eveniet, qui alias autem?
        Consectetur neque incidunt in tempora fugit magnam cumque dignissimos,
        porro facere sapiente, laborum, ullam qui. Distinctio illo, fugiat
        impedit sint ipsam quaerat accusantium enim voluptates. Ab dicta
        veritatis perspiciatis modi praesentium! Ipsum, perferendis maiores.
        Debitis natus vitae, minus, sunt earum similique aperiam perspiciatis
        voluptas quam numquam quibusdam autem odio odit enim cum facilis aliquid
        tenetur molestias placeat mollitia obcaecati! Architecto cumque nisi,
        distinctio aliquid voluptates laboriosam sed incidunt earum possimus id
        mollitia inventore natus. Soluta rem nihil magni unde assumenda dolor,
        obcaecati aspernatur voluptate officiis optio aperiam commodi fugiat
        minus. Recusandae in unde totam dolorum iure nihil nobis sequi atque
        dolore? Dolorem debitis ad dicta accusamus, modi voluptatem iusto
        corporis ut, numquam, aliquam unde. At voluptates ducimus perspiciatis
        id necessitatibus aliquid ad modi et nostrum officia, tenetur, excepturi
        deleniti, vitae minima numquam amet? Quod vitae cumque sit, sint
        dignissimos dicta mollitia corrupti laudantium.</p>

      Check out my philosophy of science <a href="/philosophy">here</a>
    </div>

    <div class="container text-center mt-5">
      <a class="btn btn-lg btn-outline-secondary"
        href="../download/Heidi_Baine_CV.pdf" download>Download my CV</a>
    </div>



  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>